.message{
    height: 100px;
    overflow: auto;
}

.send-button{
    background: #ffd500 !important;
    border: none !important;
    border-radius: 30px !important;
    color: #010101 !important;
    cursor: pointer !important;
    font-size: 15px !important;
    line-height: 0 !important;
    /* margin-top: 2.5rem !important; */
    padding: 1.8rem 1.8rem 1.8rem 1.8rem !important;
    white-space: nowrap !important;
    /* max-width: 190px !important; */
    width: 190px !important;
}

.clear-button{
    background: #000000 !important;
    border: none !important;
    border-radius: 30px !important;
    color: #ffffff !important;
    cursor: pointer !important;
    font-size: 15px !important;
    line-height: 0 !important;
    /* margin-top: 2.5rem !important; */
    padding: 1.8rem 1.8rem 1.8rem 1.8rem !important;
    white-space: nowrap !important;
    /* max-width: 190px !important; */
    width: 190px !important;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.mail-button{
    color: black;
}
.whatsapp-button{
    width: 10px;
}

.linked-in{
    color: black;
}
.instagram{
    color: black;
}
.facebook{
    color: black;
}
.x{
    color: black;
}