.word{
    background: #010101 !important;
    border-radius: 35px !important;
    color: #ffffff;
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5rem 2rem 1.5rem 2rem;
    font-size: 2.2em;
}

.profile-pic{
    max-width: 445px;
    max-height: 445px;
}

